h1 {
  font-size: $fs-h1;
  }
h2 {
  font-size: $fs-h2;
}
h3 {
  //font-size: $fs-h3;
}
h4 {
  font-size: $fs-h4;
}
h6 {
  font-size: $fs-h6;
}

.line {
  border-bottom: 3px solid black;
  width: 86px;
  margin: 0 auto;
}
input[type="button"]{
  font-family: MyriadProRegular, sans-serif;
  text-transform: uppercase;
  display: block;
  padding: 25px 90px;
  background-color: $color-header-btn ;
  margin: 55px auto 140px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: $white;
}