

// Semitransparent white


// Semitransparent black

// Brand colors
$white: #fff;
$black: #000;
$grey:#dadada;
$grin:#ffa351;

// Background colors
$color-header-bgr: #87509c;
$color-nav_hover: #643a79;
$color-header-btn: #eb7d4b;
$color-services-bgr: #17c2a4;
// Font colors

// Special colors

// Shadow colors





