

// Semitransparent white


// Semitransparent black

// Brand colors
$white: #fff;
$black: #000;
$grey:#dadada;
$grin:#ffa351;

// Background colors
$color-header-bgr: #87509c;
$color-nav_hover: #643a79;
$color-header-btn: #eb7d4b;
$color-services-bgr: #17c2a4;
$color-brg-portfolio: #ffdd99;

// Font colors
$color-team-font: #3c4761;
$color-team-font-ured: #55c2e9;

// Special colors

// Shadow colors





