header {
  background-color: $color-header-bgr;
  color: $white;
  h2 {
    font-family: MyriadProRegular, sans-serif;
    font-size: 42.12px;
    margin: 132px auto 0 auto;
    text-align: center;
    width: 900px;
  }

}