.slider{
  height: 470px;
  width:  480px;
  background-color: $white;
  overflow: hidden;
  .owl-carousel .owl-item:first-child img{
    width: 123%;
  }
  .owl-nav {
    display: none;
  }
  .owl-dots{
    position: relative;
    bottom: 40px;
  }
  .img-carusel{
    width: 480px;
    height: 470px;
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: black;
    opacity: 0.5;
    box-shadow: 0 0 5px rgba(252,252,252,.75);

  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: gold;
    border: 2px solid #5c4139;
    opacity: 1;
  }



}
.slider_sm {
  width: 400px;
  height: 100px;
  background-color: red;
  .img-carusel_sm {
    width: 78px;
    height: 78px;
  }
}